<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>upload files</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="stylesheet" href="../stylesheets/dropzone.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="../js/google.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="../js/dropzone.js"></script>
        <script src="../js/general.js"></script>
        <script src="../js/uploadimages.js"></script>
    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola rentadora</li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                   
                </ul>
            </nav>
        </section>
    <section id="contenedor">      
        <div class="recontenedordrop">
            <div class="dropArea">
                <div id="myId" class="dropzone"> </div>
            </div>
            <hr>
            <div class="col3">
                <div class="col5">
                    <div class="droptable1">Nombre de Especificación</div>
                    <div class="droptable2"><%= namespec %></div>
                </div>
                <div class="col5">
                    <div class="droptable1">Imágenes</div>
                    <div id="imageCount" class="droptable2">0</div>
                </div>
                <div class="col5">
                    <div class="droptable1">Precio por Imagen</div>
                    <div class="droptable2">$ <%= totalprice %></div>
                    <!-- <input id="ntotalprice" type="hidden" value= <%= totalprice %>> -->
                </div>
                <div class="col5">
                    <div class="droptable1">Costo Total</div>
                    <p class="droptable2">USD<span class="droptable3">$ <span id="ntotalpay" class="droptable3">9.99 </span></span></p>
                </div>
            </div>
                    <div class="picnum2">El proceso de subida de imágenes puede tardar algunos minutos, ten paciencia</div>
        </div>
        <hr>
        <div class="button2">
            <a id="buttoncontorder">Confirmar Orden</a>
        </div>
        <form id = "orderForm" class="" action="/neworder" method="post">
            <input type="hidden" name="imagelist" placeholder="" value=""><br>
        </form>
    </section>
    </body>
</html>
